<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a graduate student working towards my PhD in Physics and Astronomy at UC Irvine. With my advisor, Manoj Kaplinghat, 
          I study self-interacting dark matter using the Milky Way and it's satellite galaxies. </p>
      </div>
      <div class="col-lg-4">
        <p>I am the Program Administrator for Rising Stargirls, an educational organization funded by the National Science Foundation that is deticated
        to engaging middle school girls of color in astronomy.</p>
      </div>
<!--       <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme -->
        </a>
      </div>
    </div>
  </div>
</section>
